@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    
<h1>Quienes Somos</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aut ad quos sit blanditiis enim facilis iste labore. Architecto dolore laborum eius quam placeat est dolores delectus distinctio libero voluptatum.</p>


<img src="https://www.jezzmedia.com/wp-content/uploads/2016/11/quienes-somos.jpg" alt="">

</div>