
<h1>Productos</h1>

<br>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Producto N°1</p>
            <p>Descripcion :</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste corporis excepturi enim minima rerum consequuntur 
                voluptas! Consequuntur adipisci aliquam beatae at nihil deserunt ut temporibus nisi quam laudantium! Nemo, est.</p>
        </div>

        <div class="col-md-6">
            <p><img src="https://www.ecommercenews.pe/wp-content/uploads/2017/07/tienda-online-810x405.png" height="200" width="200" alt=""></p>
            <p><button class="btn btn-primary"> Comprar</button></p>
        </div>
    </div>
</div>